/*
 * This is a manifest file that'll be compiled into　application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

header {
	color: white;
}

.nav {
	padding-left: 0;
}

.icon {
	display: block;
	color: red;
	padding: 12px;
}

#error_explanation {
	color: red;
}

#notice {
	color: green;
}


body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #333333;
	background-color: #fff;
	line-height: 1.42857143;

}

.body {
	margin-top: 51px;
}

.flash {

}

.bookers {
	font-size: 20px;
	padding-top: 10px;
}

ul,
p {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
	margin: 33px;
}

p {
	margin: 0 0 10px;
}

h1 {
	font-size: 36px;
}

h2 {
	margin-top: 20px;
	margin-bottom: 10px;
}

strong {
	font-weight: bold;
}

.btn-info,
.btn-success {
	color: #666;
}




.container {
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;

}

h2 {
	margin-top: 20px;
	margin-bottom: 10px;
}

.field {
	margin-top: 10px;
}

.opinion {
	margin-bottom: 10px;
}

.actions {
	margin-top: 10px;
}


p {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px
}

table {
	width: 100%;
	margin-bottom: 20px;
	border-color: grey;

}

footer {
	text-align: right;
}